<!DOCTYPE html>
<html ng-app="rfbApp">
  <head>
    <title>ComChain Viewer</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap-theme.css">
    <link rel="stylesheet" href="/styles/bootstrap.css">
    <link rel="stylesheet" href="/styles/custom.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/select.css">
    <link rel="stylesheet" href="/styles/style.css">
    <!--STYLES END-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.default.css">
  </head>

  <body>
    <div id="main">
      <nav id="mainMenu" class="mainMenu-custom">
        <div class="title">
          <h1 style="color:black">
            <div ng-controller="SettingsCtrl as settings" style="all:unset;">
              <div class="settings glyphicon glyphicon-cog" ng-click="open()" data-toggle="tooltip" title="Settings"></div>
            </div>
            &#32;|&#32;
            <div ng-cloak ng-controller="NavigationCtrl as nagivation" style="all:unset">
              <a href='/#/' style='color: black'>
                Dashboard
              </a>      
            </div>
          </h1>
        </div>
        <!-- <img class="image" src="/images/comitFSLogo.png" /> -->
        <img class="image" src="/images/logo.png" />
      </nav>
      <section id="contentSection">
        <%- body %>
      </section>
    </div>

    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).

        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    <script type="text/javascript" src="/jst.js"></script>
    <!--TEMPLATES END-->

    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.

      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:

          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript
    -->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/aajquery-3.3.1.min.js"></script>
    <script src="/js/dependencies/aangular.min.js"></script>
    <script src="/js/dependencies/aChart.bundle.min.js"></script>
    <script src="/js/dependencies/angular-chart.js"></script>
    <script src="/js/dependencies/angular-route.min.js"></script>
    <script src="/js/dependencies/angular-sanitize.js"></script>
    <script src="/js/dependencies/chart.min.js"></script>
    <script src="/js/dependencies/select.js"></script>
    <script src="/js/dependencies/ui-bootstrap-2.5.0.min.js"></script>
    <script src="/js/dependencies/ui-bootstrap-tpls.js"></script>
    <script src="/js/dependencies/underscore-min.js"></script>
    <script src="/js/app/app.js"></script>
    <script src="/js/app/controllers/GraphCtrl.js"></script>
    <script src="/js/app/controllers/ModalGraphBreakdownCtrl.js"></script>
    <script src="/js/app/controllers/ModalHashCtrl.js"></script>
    <script src="/js/app/controllers/ModalProductTemplateCtrl.js"></script>
    <script src="/js/app/controllers/ModalSettingsCtrl.js"></script>
    <script src="/js/app/controllers/ModalSourceHashCtrl.js"></script>
    <script src="/js/app/controllers/NavigationCtrl.js"></script>
    <script src="/js/app/controllers/SettingsCtrl.js"></script>
    <script src="/js/app/services/GraphService.js"></script>
    <script src="/js/app/services/SettingsService.js"></script>
    <!--SCRIPTS END-->
  </body>

<!--   <footer>
    <br/>

    <div id="main">
      <nav id="mainMenu">
        <div style="float:right">
          Powered By
          <img class="image-footer" src="/images/comitFSLogo.png" />
        </div>
      </nav>
    </div>
  </footer> -->
</html>
