<!DOCTYPE html>
<div class="scheduleSection">
  <div>
    <form class="form-inline">
      <div class="form-group">
        <label for="scheduledGroupsAdd">Groups</label>
        <button type="button" class="btn btn-primary" id="scheduledGroupsAdd" data-target="#groupModal" data-toggle="modal">
          +
        </button>
        <ul id="scheduledGroupsUl" />
      </div>
    </form>
    <br/>
    <form class="form-inline">
      <div class="form-group">
        <label for="scheduledUsers">Users</label>
        <button type="button" class="btn btn-primary" id="scheduledUsersAdd" data-target="#userModal" data-toggle="modal">
          +
        </button>
        <ul id="scheduledUsersUl" />
      </div>
    </form>
    <br/>
    <br/>
    <form class="form-inline">
      <div class="form-group">
        <label for="scheduledDestination">Destination</label>
        <input type="text" class="form-control" id="scheduledDestination" placeholder="Scheduled Destination" value="200124">
      </div>
    </form>
    <br/>
    <form class="form-inline">
      <div class="form-group">
        <label for="scheduledTime">Scheduled time</label>
        <input type="datetime-local" class="form-control" id="scheduledTime">
      </div>
      <div class="form-group">
        <label for="repeatFrequency">Frequency</label>
        <select class="form-control" name="repeat" id="repeatFrequency">
          <option value="once">Once</option>
          <option value="daily">Daily</option>
          <option value="weekends">Daily w/ Weekends</option>
        </select>
      </div>
    </form>
    <br/>
    <button type="button" class="btn btn-primary" id="gc_immediate_test_btn" onmousedown="schedule('immediate')">
      Immediate Test
    </button>
    <button type="button" class="btn btn-primary" id="gc_scheduled_test_btn" onmousedown="testschedule('scheduled')">
      Scheduled Test
    </button>
  </div>
</div>

<!-- Edit Schedule Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="editModalTitle">Edit Schedule</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="editModalDbId">Database ID</label>
            <input type="text" class="form-control" id="editModalDbId" placeholder="Database ID" readonly>
          </div>
        </form>
        <form>
          <div class="form-group">
            <label for="editModalUser">User ID</label>
            <input type="text" class="form-control" id="editModalUser" placeholder="Scheduled Users">
          </div>
        </form>
        <form>
          <div class="form-group">
            <label for="editModalInterest">Interest</label>
            <input type="text" class="form-control" id="editModalInterest" placeholder="Make Call Line">
          </div>
        </form>
        <form>
          <div class="form-group">
            <label for="editModalDestination">Destination</label>
            <input type="text" class="form-control" id="editModalDestination" placeholder="Scheduled Destination">
          </div>
        </form>
        <br/>
        <form>
          <div class="form-group">
            <label for="editModalTime">Scheduled time</label>
            <input type="datetime-local" class="form-control" id="editModalTime">
          </div>
        </form>
        <form>
          <div class="form-group">
            <label for="editModalFrequency">Frequency</label>
            <select class="form-control" name="repeat" id="editModalFrequency">
              <option value="once">Once</option>
              <option value="daily">Daily</option>
              <option value="weekends">Daily w/ Weekends</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" onmousedown="editRow()">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Add Group Modal -->
<div class="modal fade" id="groupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="editModalTitle">Add Group</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="loadedGroupList">Groups</label>
            <select class="form-control" id="loadedGroupList">
            </select>
          </div>
        </form>
        <form>
          <div class="form-group">
            <label for="groupInterestType">Interests</label>
            <select class="form-control" id="groupInterestType">
              <option value="default">Default Only</option>
              <option value="all">All Interets</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" onmousedown="saveGroupToList()">Add to schedule</button>
      </div>
    </div>
  </div>
</div>

<!-- Add User Modal -->
<div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="editModalTitle">Add User</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="loadedUserList">Users</label>
            <select class="form-control" id="loadedUserList">
            </select>
          </div>
        </form>
        <form>
          <div class="form-group">
            <label for="userInterestType">Interests</label>
            <select class="form-control" id="userInterestType">
              <option value="default">Default Only</option>
              <option value="all">All Interets</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" onmousedown="saveUserToList()">Add to schedule</button>
      </div>
    </div>
  </div>
</div>

<div class="tableSection" style="margin-top:32px;">
  <h2 id="scheduleTBodyTitle">Scheduled Calls</h2>
  <table id="scheduleTable" class="table">
    <thead id="scheduleTHead">
      <tr>
        <th id="th1-schedule" class="">User</th>
        <th id="th2-schedule" class="">Interest</th>
        <th id="th3-schedule" class="">Destination</th>
        <th id="th4-schedule" class="">Date</th>
        <th id="th5-schedule" class="">Time</th>
        <th id="th6-schedule" class="">Repeat</th>
        <th id="th7-schedule" class="">Edit</th>
        <th id="th8-schedule" class="">Delete</th>
    </thead>
    
    <tbody id="scheduleTBody">
      
    </tbody>

    <tfoot id="scheduleTFoot">
      
    </tfoot>
  </table>
</div>

<div class="chartSection morningSection"> 
  <canvas id="morning"></canvas>
</div>

<div class="chartSection eveningSection" style="margin-top:32px;">
  <canvas id="evening" ></canvas>
</div>

<div class="tableSection" style="margin-top:32px;">
  <h2 id="tableTitle">All Calls</h2>
  <table id="subTable">
    <thead>
      <tr>
        <th id="th1" class="call">Call</th>
        <th id="th2" class="vr">Record</th>
        <th id="th3" class="audit">Audit</th>
    </thead>
    
    <tbody id="mdes">
       
    </tbody>

     <tfoot id="sum">
     
     </tfoot>
  </table>
</div>
