<div class="container" ng-controller="DashboardCtrl as dashboard">

    <!-- FILTER -->
    <uib-accordion>
        <div uib-accordion-group class="panel-custom" is-open="status.open">
            <uib-accordion-heading>
                <div id="filter-header">
                    Data Filters
                    <span class="glyphicon glyphicon-chevron-right" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}">
                    </span>
                </div>
            </uib-accordion-heading>
            <h4>Date Range</h4>
            <div class="btn-group" role="group">
                <div class="btn-group col-sm-3" role="group">
                    Start Date
                    <p class="input-group">
                        <!-- <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="range.startDate" is-open="popup1.opened" datepicker-options="startOptions" max-date="range.endDate" close-text="Close" alt-input-formats="altInputFormats" ng-model-options="{timezone: 'utc'}"/> -->
                        <input type="text" class="form-control" uib-datepicker-popup="MM-dd-yyyy" is-open="popup1.opened" ng-model="range.startDate" ng-model-options="{timezone: 'utc'}" datepicker-options="startOptions"/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                    <datepicker ng-model="startdt" show-weeks="false"></datepicker>
                </div>

                <div class="btn-group col-sm-3" role="group">
                    End Date
                    <p class="input-group">
                        <!-- <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="range.endDate" is-open="popup2.opened" datepicker-options="endOptions" min-date="range.startDate" max-date="today" close-text="Close" alt-input-formats="altInputFormats" ng-model-options="{timezone: 'utc'}"/> -->
                        <input type="text" class="form-control" uib-datepicker-popup="MM-dd-yyyy" is-open="popup2.opened" ng-model="range.endDate" ng-model-options="{timezone: 'utc'}" datepicker-options="endOptions"/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
            </div>
            <input type="reset" value="Reset Date" ng-click="resetDate()" class="btn btn-primary" />
            <input type="submit" value="Save" ng-click="getData()" class="btn btn-primary" />
            <h4>Contract Filters</h4>
            <div class="btn-group" role="group">
                <div class="btn-group" role="group">
                    <ui-select ng-model="filterParam.community" theme="bootstrap" style="width:300px;" ng-change="filterData('community')">
                        <ui-select-match placeholder="Select Community">{{ filterParam.community.name }}</ui-select-match>
                        <ui-select-choices repeat="community in communities | filter: $select.search">
                            <div ng-bind-html="community.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>

                <div class="btn-group" role="group" ng-if="filterParam.community">
                    <ui-select ng-model="filterParam.group" theme="bootstrap" style="width:300px;" ng-change="filterData('group')">
                        <ui-select-match placeholder="Select Group">{{ filterParam.group.name }}</ui-select-match>
                        <ui-select-choices repeat="group in filteredGroups | filter: $select.search">
                            <div ng-bind-html="group.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>

                <div class="btn-group" role="group" ng-if="filterParam.community">
                    <ui-select ng-model="filterParam.member" theme="bootstrap" style="width:300px;" ng-change="filterData('member')">
                        <ui-select-match placeholder="Select User">{{ filterParam.member.name }}</ui-select-match>
                        <ui-select-choices repeat="member in filteredMembers | filter: $select.search">
                            <div ng-bind-html="member.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>
    </uib-accordion>

    <!-- SUMMARY -->
    <uib-accordion>
        <div uib-accordion-group class="panel-custom" is-open="summary.open" ng-click="clickHeader">
            <uib-accordion-heading>
                <div id="summary-header">
                    Summary
                    <span class="glyphicon glyphicon-chevron-down" ng-class="{'glyphicon-chevron-down': summary.open, 'glyphicon-chevron-right': !summary.open}">
                    </span>
                </div>
            </uib-accordion-heading>
            <div class="col-xs-3">
                <h4 class="sub-header">CDR Data</h4>
                <table class="table table-hover table-condensed table-striped">
                    <tbody>
                        <tr>
                            <td>Sources</td>
                            <td>{{transactions.telephony.sourcesCount}}</td>
                        </tr>
                        <tr>
                            <td>Records</td>
                            <td>{{transactions.telephony.recordsCount}}</td>
                        </tr>
                    </tbody>
                </table>
                <h5 class="sub-header">Sources by Record</h5>
                <table class="table table-hover table-condensed table-striped">
                    <tbody>
                        <tr ng-repeat="(key, value) in transactions.telephony.sources">
                            <td>{{ key }}</td>
                            <td>
                                {{ value }}
                                <span style="color: red" ng-if="validity === false || !validity"></span>
                                <span style="color: lime" ng-if="validity === true && value === transactions.telephony.sourcesHashed[key]">
                                    <button type="button" ng-click="verifySourceOpen(key, 'telephony')" class="btn btn-success btn-xs">
                                        <span class="glyphicon glyphicon-check" />
                                    </button>
                                </span>
                                <span style="color: red" ng-if="validity === true && value !== transactions.telephony.sourcesHashed[key]">
                                    <button type="button" ng-click="verifySourceOpen(key, 'telephony')" class="btn btn-danger btn-xs">
                                        <span class="glyphicon glyphicon-remove-circle" />
                                    </button>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-xs-3">
                <h4 class="sub-header">VR Data</h4>
                <table class="table table-hover table-condensed table-striped">
                    <tbody>
                        <tr>
                            <td>Sources</td>
                            <td>{{transactions.voicerecorder.sourcesCount}}</td>
                        </tr>
                        <tr>
                            <td>Records</td>
                            <td>{{transactions.voicerecorder.recordsCount}}</td>
                        </tr>
                    </tbody>
                </table>
                <h5 class="sub-header">Sources by Record</h5>
                <table class="table table-hover table-condensed table-striped">
                    <tbody>
                        <tr ng-repeat="(key, value) in transactions.voicerecorder.sources">
                            <td>{{ key }}</td>
                            <td>
                                {{ value }}
                                <span style="color: red" ng-if="validity === false || !validity"></span>
                                <span style="color: lime" ng-if="validity === true && value === transactions.voicerecorder.sourcesHashed[key]">
                                    <button type="button" ng-click="verifySourceOpen(key, 'voicerecorder')" class="btn btn-success btn-xs">
                                        <span class="glyphicon glyphicon-check" />
                                    </button>
                                </span>
                                <span style="color: red" ng-if="validity === true && value !== transactions.voicerecorder.sourcesHashed[key]">
                                    <button type="button" ng-click="verifySourceOpen(key, 'voicerecorder')" class="btn btn-danger btn-xs">
                                        <span class="glyphicon glyphicon-remove-circle" />
                                    </button>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-xs-3">
                <h4 class="sub-header">Audit Data</h4>
                <table class="table table-hover table-condensed table-striped">
                    <tbody>
                        <tr>
                            <td>Sources</td>
                            <td>{{transactions.audit.sourcesCount}}</td>
                        </tr>
                        <tr>
                            <td>Records</td>
                            <td>{{transactions.audit.recordsCount}}</td>
                        </tr>
                    </tbody>
                </table>
                <h5 class="sub-header">Sources by Record</h5>
                <table class="table table-hover table-condensed table-striped">
                    <tbody>
                        <tr ng-repeat="(key, value) in transactions.audit.sources">
                            <td>{{ key }}</td>
                            <td>
                                {{ value }}
                                <span style="color: red" ng-if="validity === false || !validity"></span>
                                <span style="color: lime" ng-if="validity === true && value === transactions.audit.sourcesHashed[key]">
                                    <button type="button" ng-click="verifySourceOpen(key, 'audit')" class="btn btn-success btn-xs">
                                        <span class="glyphicon glyphicon-check" />
                                    </button>
                                </span>
                                <span style="color: red" ng-if="validity === true && value !== transactions.audit.sourcesHashed[key]">
                                    <button type="button" ng-click="verifySourceOpen(key, 'audit')" class="btn btn-danger btn-xs">
                                        <span class="glyphicon glyphicon-remove-circle" />
                                    </button>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-xs-3">
                <h4 class="sub-header">SMS Data</h4>
                <table class="table table-hover table-condensed table-striped">
                    <tbody>
                        <tr>
                            <td>Sources</td>
                            <td>{{transactions.sms.sourcesCount}}</td>
                        </tr>
                        <tr>
                            <td>Records</td>
                            <td>{{transactions.sms.recordsCount}}</td>
                        </tr>
                    </tbody>
                </table>
                <h5 class="sub-header">Sources by Record</h5>
                <table class="table table-hover table-condensed table-striped">
                    <tbody>
                        <tr ng-repeat="(key, value) in transactions.sms.sources">
                            <td>{{ key }}</td>
                            <td>
                                {{ value }}
                                <span style="color: red" ng-if="validity === false || !validity"></span>
                                <span style="color: lime" ng-if="validity === true && value === transactions.sms.sourcesHashed[key]">
                                    <button type="button" ng-click="verifySourceOpen(key, 'sms')" class="btn btn-success btn-xs">
                                        <span class="glyphicon glyphicon-check" />
                                    </button>
                                </span>
                                <span style="color: red" ng-if="validity === true && value !== transactions.sms.sourcesHashed[key]">
                                    <button type="button" ng-click="verifySourceOpen(key, 'sms')" class="btn btn-danger btn-xs">
                                        <span class="glyphicon glyphicon-remove-circle" />
                                    </button>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </uib-accordion>

    <!-- PRODUCTS TABLE -->
    <uib-accordion>
        <div uib-accordion-group class="panel-custom" is-open="productTable.open">
            <uib-accordion-heading>
                <div id="table-header">
                    Contracts
                    <span class="glyphicon glyphicon-chevron-down" ng-class="{'glyphicon-chevron-down': productTable.open, 'glyphicon-chevron-right': !productTable.open}">
                    </span>
                </div>
            </uib-accordion-heading>
            <table class="table table-hover table-condensed table-striped">
                <thead>
                    <tr>
                        <th>Owner/s</th>
                        <th>Identifier</th>
                        <th>Category</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="product in filteredProducts">
                        <td ng-click="openTemplate(product)">
                            <!-- {{ product.owners }} -->
                            <span ng-repeat="owner in product.owner">
                                {{ users[owner['@id']].identifier }}
                            </span>
                        </td>
                        <td ng-click="openTemplate(product)">{{ product.identifier }}</td>
                        <td ng-click="openTemplate(product)">{{ product.category }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </uib-accordion>

    <!-- TRANSACTIONS TABLE -->
    <uib-accordion>
        <div uib-accordion-group class="panel-custom" is-open="table.open" ng-click="clickHeader">
            <uib-accordion-heading>
                <div id="table-header">
                    Transactions
                    <span class="glyphicon glyphicon-chevron-down" ng-class="{'glyphicon-chevron-down': table.open, 'glyphicon-chevron-right': !table.open}">
                    </span>
                </div>
            </uib-accordion-heading>
            <table class="table table-hover table-condensed table-striped">
                <thead>
                    <tr>
                        <th>Index</th>
                        <th>Record Types</th>
                        <th>User</th>
                        <th>Source</th>
                        <th>Platform</th>
                        <th>Profile/Device</th>
                        <th>Destination</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Verify Hash 
                            <button type="button" ng-click="verify()" class="btn btn-primary btn-xs">
                                <span class="glyphicon glyphicon-ok-circle" />
                            </button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="call in filteredTransactions.records" ng-dblclick="open(call)">
                        <td>{{ $index + 1 }}</td>
                        <td>{{ findLabel('types', call) }}</td>
                        <td>{{ findLabel('owner', call) }}</td>
                        <td>{{ findLabel('sourceaddress', call) }}</td>
                        <td>{{ findLabel('platform', call) }}</td>
                        <td>{{ findLabel('profileid', call) }}</td>
                        <td>{{ findLabel('destinationaddress', call) }}</td>
                        <td>{{ findLabel('starttimestamp', call) }}</td>
                        <td>{{ findLabel('endtimestamp', call) }}</td>
                        <td style="text-align: center">
                            <div style="color: red" ng-if="!call.validity"></div>
                            <div style="color: lime" ng-if="call.validity === true">
                                <button type="button" ng-click="verifyOpen(call)" class="btn btn-success btn-xs">
                                    <span class="glyphicon glyphicon-check" />
                                </button>
                            </div>
                            <div style="color: red" ng-if="call.validity === false">
                                <button type="button" ng-click="verifyOpen(call)" class="btn btn-danger btn-xs">
                                    <span class="glyphicon glyphicon-remove-circle" />
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </uib-accordion>
</div>