<div class="modal-body" id="modal-body">
    <div class="form-group">
        <label class="col-sm-3 control-label">Group</label>
        <br/>
        <ui-select ng-model="$ctrl.selected.group" ng-change="$ctrl.onGroupSelect()" theme="bootstrap" style="width:300px;">
            <ui-select-match placeholder="Select or search a group in the list...">{{ $select.selected.name }}</ui-select-match>
            <ui-select-choices repeat="group in $ctrl.groupsArray | filter: $select.search">
                <div ng-bind-html="group.name | highlight: $select.search"></div>
                <small ng-bind-html="group.type | highlight: $select.search"></small>
            </ui-select-choices>
        </ui-select>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">User</label>
        <br/>
        <ui-select ng-model="$ctrl.selected.user" ng-change="$ctrl.onUserSelect()" theme="bootstrap" style="width:300px;">
            <ui-select-match placeholder="Select or search a user in the list...">{{ $select.selected.name }}</ui-select-match>
            <ui-select-choices repeat="user in $ctrl.filteredUserArray | filter: $select.search">
                <div ng-bind-html="user.name | highlight: $select.search"></div>
                <small ng-bind-html="user.identifier | highlight: $select.search"></small>
            </ui-select-choices>
        </ui-select>
    </div>
    <div class="form-group" ng-show="!$ctrl.selected.user">
        <label class="col-sm-3 control-label">Interest</label>
        <br/>
        <ui-select ng-model="$ctrl.selected.interest" theme="bootstrap" style="width:300px;">
            <ui-select-match placeholder="Select or search a user in the list...">{{ $select.selected.name }}</ui-select-match>
            <ui-select-choices repeat="interest in $ctrl.groupInterests | filter: $select.search">
                <div ng-bind-html="interest.name | highlight: $select.search"></div>
            </ui-select-choices>
        </ui-select>
    </div>
    <div class="form-group" ng-show="$ctrl.selected.user">
        <label class="col-sm-3 control-label">Interest</label>
        <br/>
        <ui-select ng-model="$ctrl.selected.interest" theme="bootstrap" style="width:300px;">
            <ui-select-match placeholder="Select or search a user in the list...">{{ $select.selected.interest }}</ui-select-match>
            <ui-select-choices repeat="interest in $ctrl.userInterests | filter: $select.search">
                <div ng-bind-html="interest.interest | highlight: $select.search"></div>
            </ui-select-choices>
        </ui-select>
    </div>
    Selected User: <b>{{ $ctrl.selected.user.name }}</b>
    Selected Interest: <b>{{ $ctrl.selected.interest.name }}</b>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$ctrl.ok('group')" ng-disabled="$ctrl.selected.user || !$ctrl.selected.group || !$ctrl.selected.interest">Add Group</button>
    <button class="btn btn-primary" type="button" ng-click="$ctrl.ok('user')" ng-disabled="$ctrl.selected.group && !$ctrl.selected.user || !$ctrl.selected.group && !$ctrl.selected.user || !$ctrl.selected.interest">Add User</button>
    <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
</div>