.panel-custom {
  border-color: #51BFEE;
}
.panel-custom > .panel-heading {
  color: white;
  background-color: #51BFEE;
  border-color: #51BFEE;
}
.panel-custom > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #51BFEE;
}
.panel-custom > .panel-heading .badge {
  color: #f5f5f5;
  background-color: #333;
}
.panel-custom > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #51BFEE;
}

.mainMenu-custom {
	width: 100%;
	height: 76px;
	background: #D5D5D5;
	color: black !important;
	padding-left:90px;
	padding-top: 2px;
	padding-bottom: 4px;
}