@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');


body, html {
	color: #333538;
	font-family: 'Lato', sans-serif;

	padding: 0;
	margin: 0;
}

a {
	color: #f27173;
	text-decoration: none;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

#contentSection {
	width: 1200px;
	margin: 0 auto;
	padding-top: 22px;
}

.mainMenu {
	width: 100%;
	height: 76px;
	background: white;
	padding-left:90px;
	padding-top: 2px;
	padding-bottom: 4px;
}

.refresh {
	margin-right: 170px;
	float: right;
	cursor: pointer;
	font-size: 25pt;
	margin-top: 20px;
	font-weight: bold;
}
.image {
	margin-right: 70px;
	margin-top: 10px;
	float: right;
	font-weight: bold;
	height: 60px;
	/*width: 400px;*/
}
.image-footer {
	margin-right: 70px;
	margin-bottom: 20px;
	float: right;
	font-weight: bold;
	height: 60px;
	/*width: 400px;*/
}
.nagivation {
	cursor: pointer;
	margin-top: 20px;
	font-weight: bold;
}

.title {
	float: left;
}

.settings {
	cursor: pointer;
}

.schedule {
	float: left;
	margin-left: 20px;
}

.pointer {
	cursor: pointer;
}

h1 {
	font-size: 29px;
	color: white;
}

.brick {
	color: #fff;
}

.chartSection {
	height: 400px;
	background:#fff;
	padding-bottom:30px;
	border-bottom: 2px solid #50072C;
}
.chartSection > canvas{
 	width: 100%!important;
 	height: 400px!important;
}


#subTable {
	width: 100%;
	border-spacing: 0;
    border-collapse: collapse;
    margin-bottom: 40px;
}

#subTable thead th {
	height: 37px;
	font-size: 14pt;
}

#subTable th.call {
	text-align: left;
	padding-left: 10px;
	background: #CA950E;
	color: #fff;
	width: 80%;
}

#subTable th.vr {
	background: #50072C;
	color: #fff;
	width: 10%;
}

#subTable th.audit {
	background: #758E4F;
	color: #fff;
	width: 10%;
}

#subTable tbody tr {
	height: 22px;
	font-size: 11pt;
}

#subTable td.alert {
	color:#aa0000;
	font-size: 15pt;
	
}
#subTable td.good {
	color:#00aa00;
	font-size: 15pt;
}

#subTable td {
	border-left: thin solid black;
	padding: 7px;
	text-align: center;
}

#subTable td:first-child {
	border-left: none;
	text-align: left;
}


#subTable tbody td {
	border-bottom: thin solid black;
	padding-left: 10px!important;

}

#subTable tfoot td {

	padding-left: 10px;
	color: #fff;
	background: #1B2C42;
	height: 23px;
	font-size: 15pt;
}
