<div class="container" ng-controller="DashboardCtrl as dashboard">

    <div ng-controller="GraphCtrl">
        <div class="panel-group">
            <div class="panel panel-custom col-sm-5" style="padding-left: 0px; padding-right: 0px; width: 45%; margin-bottom: 10px">
                <div class="panel-heading text-center">
                    Health Check
                </div>
                <div class="panel-body">
                    <canvas id="bar" class="chart chart-bar pointer" chart-data="audit.data" chart-labels="audit.labels" chart-series="audit.series" ng-click="goGraph('audit')" chart-colors="audit.colours" chart-options="options">
                    </canvas>
                </div>
            </div>
            <div class="col-sm-2" style="width:10%">
            </div>
            <div class="panel panel-custom col-sm-5" style="padding-left: 0px; padding-right: 0px; width: 45%; margin-bottom: 10px">
                <div class="panel-heading text-center">
                    Pre-View
                </div>
                <div class="panel-body">
                    <canvas id="bar" class="chart chart-bar pointer" chart-data="pre.data" chart-labels="pre.labels" chart-series="pre.series" chart-colors="pre.colours" chart-options="pre.options">
                    </canvas>
                </div>
            </div>
        </div>

        <div class="panel-group">
            <div class="panel panel-custom col-sm-5" style="padding-left: 0px; padding-right: 0px; width: 45%; margin-bottom: 10px">
                <div class="panel-heading text-center">
                    End of Day Calls
                </div>
                <div class="panel-body">
                    <canvas id="bar" class="chart chart-bar pointer" chart-data="eod.data" chart-labels="eod.labels" chart-series="eod.series" ng-click="goGraph('eod')" chart-colors="eod.colours" chart-options="options">
                    </canvas>
                </div>
            </div>
            <div class="col-sm-2" style="width:10%">
            </div>
            <div class="panel panel-custom col-sm-5" style="padding-left: 0px; padding-right: 0px; width: 45%; margin-bottom: 10px">
                <div class="panel-heading text-center">
                    Today's Calls
                </div>
                <div class="panel-body">
                    <canvas id="bar" class="chart chart-bar pointer" chart-data="today.data" chart-labels="today.labels" chart-series="today.series" ng-click="goGraph('today')" chart-colors="today.colours" chart-options="options">
                    </canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="tableSection">
        <table id="scheduleTable" class="table">
            <thead id="scheduleTHead">
                <tr>
                    <th id="th1-schedule" class="">Schedule Name</th>
                    <th id="th4-schedule" class="">Date</th>
                    <th id="th5-schedule" class="">Time</th>
                    <th id="th6-schedule" class="">Repeat</th>
                    <th id="th7-schedule" class="">Pause</th>
                    <th id="th7-schedule" class="">Run</th>
                    <th id="th7-schedule" class="">Validate</th>
                    <th id="th7-schedule" class="">Edit</th>
                    <th id="th8-schedule" class="">Delete</th>
                </tr>
            </thead>
        
            <tbody id="scheduleTBody">
                <tr ng-repeat="job in jobs | orderBy:['data.task.date', 'data.task.time']">
                    <td>{{ job.data.name }}</td>
                    <td>{{ job.data.task.date }}</td>
                    <td>{{ job.data.task.time }}</td>
                    <td>{{ job.data.repeat }}</td>
                    <td>
                        <button ng-if="!job.data.pause" type="button" ng-click="pause(job.data)" class="btn btn-primary">
                            <span class="glyphicon glyphicon-pause" />
                        </button>
                        <button ng-if="job.data.pause" type="button" ng-click="pause(job.data)" class="btn btn-warning">
                            <span class="glyphicon glyphicon-pause" />
                        </button>
                    </td>
                    <td>
                        <button type="button" ng-click="play(job.data)" class="btn btn-primary">
                            <span class="glyphicon glyphicon-play" />
                        </button>
                    </td>
                    <td>
                        <button type="button" ng-click="validate(job.data)" class="btn btn-primary">
                            <span class="glyphicon glyphicon-ok-circle" />
                        </button>
                    </td>
                    <td>
                        <button type="button" ng-click="go(job.data.id)" class="btn btn-primary">
                            <span class="glyphicon glyphicon-pencil" />
                        </button>
                    </td>
                    <td>
                        <button type="button" ng-click="delete(job.data.id)" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove" />
                        </button>
                    </td>
                </tr>
            </tbody>

            <tfoot id="scheduleTFoot">
            </tfoot>
        </table>
        <input type="submit" value="Create Schedule" ng-click="add()" class="btn btn-primary" style="width: 100%;"/>
    </div>

    </div>
</div>