<div class="modal-header">
    <h3 class="modal-title" id="modal-title">{{ $ctrl.record.owner.name }} - TEMPLATE MIFID2</h3>
    <br/>
    <h4 class="modal-title" id="modal-title">Retain - 5 years</h4>
    <h4 class="modal-title" id="modal-title">Legal Hold - OFF</h4>
</div>
<div class="modal-body" id="modal-body">
    <h4>File Details</h4>
    <div ng-repeat="file in $ctrl.record.files" class="form-group">
        <strong>Path:</strong> {{file.path}}
        <br/>
        <div ng-if="file.hash.hash">
            <strong>Hash Type:</strong> {{file.hash.type}}
            <br/>
            <strong>Hash:</strong> {{file.hash.hash}}
            <br/>
        </div>
        <div ng-if="!file.hash.hash">
            <strong>Hash Type:</strong> {{ $ctrl.metadataHash.filehash.type }}
            <br/>
            <strong>Hash:</strong> {{ $ctrl.metadataHash.filehash.hash }}
            <br/>
        </div>
        <strong>Owner:</strong> {{file.storageOwner}}
        <br/>
    </div>
    <h4>Metadata Provider</h4>
    <uib-accordion>
        <div uib-accordion-group ng-repeat="(key, value) in $ctrl.metadata" class="panel-custom">
            <uib-accordion-heading>
                <div id="table-header">
                    {{ $ctrl.providers[key].name }}
                    <span class="glyphicon glyphicon-chevron-down" ng-class="{'glyphicon-chevron-down': productTable.open, 'glyphicon-chevron-right': !productTable.open}">
                    </span>
                </div>
            </uib-accordion-heading>
            <table class="table table-hover table-condensed table-striped">
                <thead>
                    <tr>
                        <th>Field</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="data in value">
                        <td>
                            {{ data.name }}
                        </td>
                        <td ng-if="data[data.name][0].length > 0 && data.name !== 'linkedData'">
                            {{ data[data.name] }}
                        </td>
                        <td ng-if="data.name === 'filehash'">
                            {{ data[data.name].hash }}
                        </td>
                        <td ng-if="data.name === 'participants'">
                            <div ng-repeat="row in data[data.name]">
                                <strong>{{row.id}}:</strong>
                                <div ng-repeat="state in row.state">
                                    {{ state }} - {{ row.starttime[$index] }}
                                </div>
                            </div>
                            <div ng-if="$ctrl.extraParticipants.length > 0" style="color:blue;">
                                <div ng-repeat="participant in $ctrl.extraParticipants">
                                    {{participant}}
                                </div>
                            </div>
                        </td>
                        <td ng-if="data.name === 'additionalProperty'">
                            <div ng-repeat="row in data[data.name]">
                                <strong>{{row.name}}:</strong> {{row.value}} 
                            </div>
                        </td>
                        <td ng-if="data.name === 'linkedData'">
                            <div ng-repeat="link in data[data.name]">
                                <a ng-click="$ctrl.openLinked(link)"> View CDR {{link}}</a> - 
                                <a ng-click="$ctrl.viewExtraParticipants(link)">View Extra Participants</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </uib-accordion>
</div>
<div class="modal-footer">
    <!--<button class="btn btn-primary" type="button" ng-click="$ctrl.ok('user')" ng-disabled="$ctrl.selected.group && !$ctrl.selected.user || !$ctrl.selected.group && !$ctrl.selected.user">Add User</button>-->
    <button class="btn btn-primary" type="button" ng-click="$ctrl.cancel()">Dismiss</button>
</div>