<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Hash Verification <span>- {{ $ctrl.source }}</span></h3>
</div>
<div class="modal-body" id="modal-body">
    <h4>BlockChain Transaction Count : {{$ctrl.data.sourcesHashed[$ctrl.source]}}</h4>
    <h4>Record Count : {{$ctrl.data.sources[$ctrl.source]}}</h4>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$ctrl.cancel()">Dismiss</button>
</div>