<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Hash Verification <span ng-if="$ctrl.record.owner">- {{ $ctrl.record.owner.name }}</span></h3>
    <h4 class="modal-title" id="modal-title">Contract ID: {{ $ctrl.record.product }}</h4>
</div>
<div class="modal-body" id="modal-body">
    <h4>Transaction Hash</h4>
    <div ng-repeat="hash in $ctrl.record.transactionHash" class="form-group">
        <strong>Hash:</strong> {{ hash }}
        <br/>
    </div>
    <h4>Transaction Files</h4>
    <uib-accordion>
        <div uib-accordion-group ng-repeat="file in $ctrl.record.files" class="panel-custom">
            <uib-accordion-heading ng-if="file.type === 'metadata'">
                <div id="table-header">
                    Metadata File Hash
                    <span class="glyphicon glyphicon-chevron-down" ng-class="{'glyphicon-chevron-down': productTable.open, 'glyphicon-chevron-right': !productTable.open}">
                    </span>
                </div>
            </uib-accordion-heading>
            <uib-accordion-heading ng-if="file.type === 'media' || file.type === 'text'">
                <div id="table-header">
                    Media File Hash
                    <span class="glyphicon glyphicon-chevron-down" ng-class="{'glyphicon-chevron-down': productTable.open, 'glyphicon-chevron-right': !productTable.open}">
                    </span>
                </div>
            </uib-accordion-heading>
            <strong>Update Transaction File Owner:</strong> {{file.storageOwner}}
            <br/>
            <div ng-if="!file.hash.hash">
                <strong>Hash Type:</strong> {{ $ctrl.metadataHash.filehash.type }}
                <br/>
                <strong>BlockChain Hash:</strong> {{ $ctrl.metadataHash.filehash.hash }}
                <br/>
                <strong>Local Hash:</strong> {{$ctrl.metadataHash.filehash.hash }}
                <br/>
            </div>
            <div ng-if="file.hash.hash">
                <strong>Hash Type:</strong> {{ $ctrl.metadataHash.filehash.type }}
                <br/>
                <strong>BlockChain Hash:</strong> {{file.hash.hash}}
                <br/>
                <strong>Local Hash:</strong> {{file.localHash.hash}}
                <br/>
            </div>
            <strong>File Location:</strong> {{file.path}}
            <br/>
    </uib-accordion>
</div>
<div class="modal-footer">
    <!--<button class="btn btn-primary" type="button" ng-click="$ctrl.ok('user')" ng-disabled="$ctrl.selected.group && !$ctrl.selected.user || !$ctrl.selected.group && !$ctrl.selected.user">Add User</button>-->
    <button class="btn btn-primary" type="button" ng-click="$ctrl.cancel()">Dismiss</button>
</div>