<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Contract for {{ $ctrl.product.identifier }}</h3>
    <br/>
    <h4 class="modal-title" id="modal-title">MIFID2 TEMPLATE</h4>
    <h4 class="modal-title" id="modal-title">Legal Hold - OFF</h4>
    <h4 class="modal-title" id="modal-title">Contract ID: {{ $ctrl.product.id }}</h4>
</div>
<div class="modal-body" id="modal-body">
    <h4>Template Details</h4>
    <uib-accordion>
        <div uib-accordion-group ng-repeat="(key, value) in $ctrl.template" class="panel-custom">
            <uib-accordion-heading>
                <div id="table-header">
                    {{ key }}
                    <span class="glyphicon glyphicon-chevron-down" ng-class="{'glyphicon-chevron-down': productTable.open, 'glyphicon-chevron-right': !productTable.open}">
                    </span>
                </div>
            </uib-accordion-heading>
            <table class="table table-hover table-condensed table-striped">
                <tbody>
                    <tr data-ng-repeat="field in value">
                        <td>
                            {{ field }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div uib-accordion-group class="panel-custom" ng-if="$ctrl.template['Tango'].length > 0">
            <uib-accordion-heading>
                <div id="table-header">
                    CAS-MDE
                    <span class="glyphicon glyphicon-chevron-down" ng-class="{'glyphicon-chevron-down': productTable.open, 'glyphicon-chevron-right': !productTable.open}">
                    </span>
                </div>
            </uib-accordion-heading>
            <table class="table table-hover table-condensed table-striped">
                <tbody>
                    <tr>
                        <td>
                            filestoragelocation
                        </td>
                    </tr>
                    <tr>
                        <td>
                            archivedate
                        </td>
                    </tr>
                    <tr>
                        <td>
                            filehash
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div uib-accordion-group class="panel-custom" ng-if="$ctrl.template['Tango'].length > 0">
            <uib-accordion-heading>
                <div id="table-header">
                    Verba
                    <span class="glyphicon glyphicon-chevron-down" ng-class="{'glyphicon-chevron-down': productTable.open, 'glyphicon-chevron-right': !productTable.open}">
                    </span>
                </div>
            </uib-accordion-heading>
            <table class="table table-hover table-condensed table-striped">
                <tbody>
                    <tr>
                        <td>
                            filestoragelocation
                        </td>
                    </tr>
                    <tr>
                        <td>
                            archivedate
                        </td>
                    </tr>
                    <tr>
                        <td>
                            filehash
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br/>
        <div uib-alert class="alert-warning">ACCESS - ComChain Nexus</div>
<!--         <div uib-accordion-group class="panel-custom" is-disabled="true">
            <uib-accordion-heading>
                    ACCESS - ComChain Nexus
            </uib-accordion-heading>
        </div> -->
    </uib-accordion>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$ctrl.cancel()">Dismiss</button>
</div>