<!-- <div class="modal-header">
    <h3 class="modal-title" id="modal-title"></h3>
</div> -->
<div class="modal-body" id="modal-body">
    Run request complete for Schedule:
    <br/>
    <b>{{ $ctrl.schedule.name }}</b>.
</div>
</div>