<div class="container" ng-controller="ScheduleCtrl as schedule">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label for="schedule-name" class="col-sm-3 control-label">Schedule Name</label>
            <div class="col-sm-6">
                <input type="text" id="schedule-name" class="form-control" ng-model="schedule.name" />
            </div>
            <div class="col-sm-3"></div>
        </div>
        <div class="form-group" ng-if="schedule.repeatFrequency !== 'immediate'">
            <label for="schedule-time" class="col-sm-3 control-label">Schedule Time</label>
            <div ng-if="!schedule.repeat" class="col-sm-4">
                <div uib-datepicker ng-model="schedule.time" class="well well-sm" datepicker-options="options"></div>
            </div>
            <div class="col-sm-2">
                <div uib-timepicker ng-model="schedule.time" hour-step="1" minute-step="5" show-meridian="false"></div>
            </div>
            <div class="col-sm-3"></div>
        </div>
        <div class="form-group" ng-if="schedule.repeatFrequency === 'immediate'">
            <label for="schedule-destination" class="col-sm-3 control-label">Destination</label>
            <div class="col-sm-2">
                <input type="text" id="schedule-destination" class="form-control" ng-model="schedule.destination" />
            </div>
            <div class="col-sm-7"></div>
        </div>
        <div class="form-group">
            <label for="schedule-time" class="col-sm-3 control-label">Repeat Frequency</label>
            <div class="col-sm-3">
                <div class="radio" ng-if="!jobId">
                    <label><input value="immediate" type="radio" name="repeat" ng-model="schedule.repeatFrequency" ng-change="changeRepeat()" />Immediate</label>
                </div>
                <div class="radio">
                    <label><input value="once" type="radio" name="repeat" ng-model="schedule.repeatFrequency" ng-change="changeRepeat()" />Once</label>
                </div>
                <div class="radio">
                    <label><input value="daily" type="radio" name="repeat" ng-model="schedule.repeatFrequency" ng-change="changeRepeat()" />Daily</label>
                </div>
            </div>
            <div class="col-sm-6"></div>
        </div>
        <div class="form-group">
            <label for="schedule-users" class="col-sm-3 control-label">Users</label>
            <div class="col-sm-6">
                <table class="table table-hover table-condensed table-striped">
                    <tbody>
                        <tr data-ng-repeat="(user, interest) in schedule.users">
                            <td>{{users[user].name}}</td>
                            <td>{{interest}}</td>
                            <td ng-click="removeUser(user)">
                                <div style="color: red">✖︎</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-3"></div>
        </div>
        <div class="form-group">
            <label for="schedule-group" class="col-sm-3 control-label">Groups</label>
            <div class="col-sm-6">
                <table class="table table-hover table-condensed table-striped">
                    <tbody>
                        <tr data-ng-repeat="(group, interest) in schedule.groups">
                            <td>{{groups[group].name}}</td>
                            <td>{{interest}}</td>
                            <td ng-click="removeGroup(group)">
                                <div style="color: red">✖︎</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <input type="submit" value="+" ng-click="open()" class="btn btn-primary" style="width: 100%;"/>
            </div>
            <div class="col-sm-3"></div>
        </div>
        <div class="form-group has-error" ng-if="error">
            <label for="schedule-error" class="col-sm-3 control-label"></label>
            <div class="col-sm-3" style="color: red">
                No users or groups defined
            </div>
            <div class="col-sm-3"></div>
        </div>

        <input type="reset" value="Back" ng-click="back()" class="btn btn-primary col-sm-offset-3" />
        <input type="reset" value="Reset" ng-click="resetForm()" class="btn btn-primary" />
        <input type="submit" ng-if="jobId" value="Save" class="btn btn-primary" ng-disabled="!schedule.name || !schedule.time || !schedule.repeatFrequency" ng-click="submitSchedule('save')"/>
        <input type="submit" ng-if="!jobId" value="Create" class="btn btn-primary" ng-disabled="!schedule.name || !schedule.time || !schedule.repeatFrequency" ng-click="submitSchedule('create')"/>
    </form>
</div>