<div class="modal-body" id="modal-settings">
    <uib-tabset>
        <uib-tab index="0" heading="RfB Settings">
            <form class="form-horizontal" role="form" style="margin-top: 20px;">
                <div class="form-group">
                    <div class="col-sm-1"></div>
                    <label for="schedule-destination" class="col-sm-3 control-label">Destination</label>
                    <div class="col-sm-6">
                        <input type="text" id="schedule-destination" class="form-control" ng-model="$ctrl.data.destination" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-1"></div>
                    <label for="schedule-messageLength" class="col-sm-3 control-label">Message Length</label>
                    <div class="col-sm-6">
                        <input type="text" id="schedule-messageLength" class="form-control" ng-model="$ctrl.data.messageLength" />
                    </div>
                    <div class="col-sm-3"></div>
                </div>
            </form>
        </uib-tab>
        <uib-tab index="1" heading="CAS Settings">
            <form class="form-horizontal" role="form" style="margin-top: 20px;">
                <div class="form-group">
                    <div class="col-sm-1"></div>
                    <label for="schedule-casHost" class="col-sm-3 control-label">CAS Host</label>
                    <div class="col-sm-6">
                        <input type="text" id="schedule-casHost" class="form-control" ng-model="$ctrl.data.casHost" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-1"></div>
                    <label for="schedule-casPort" class="col-sm-3 control-label">CAS Port</label>
                    <div class="col-sm-6">
                        <input type="text" id="schedule-casPort" class="form-control" ng-model="$ctrl.data.casPort" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-1"></div>
                    <label for="schedule-casHttps" class="col-sm-3 control-label">CAS HTTPS</label>
                    <div class="col-sm-6">
                        <input type="checkbox" ng-model="$ctrl.data.casHttps" />
                    </div>
                </div>
            </form>
        </uib-tab>
        <uib-tab index="2" heading="Nexus Settings">
            <form class="form-horizontal" role="form" style="margin-top: 20px;">
                <div class="form-group">
                    <div class="col-sm-1"></div>
                    <label for="schedule-nexusHost" class="col-sm-3 control-label">Nexus Host</label>
                    <div class="col-sm-6">
                        <input type="text" id="schedule-nexusHost" class="form-control" ng-model="$ctrl.data.nexusHost" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-1"></div>
                    <label for="schedule-nexusPort" class="col-sm-3 control-label">Nexus Port</label>
                    <div class="col-sm-6">
                        <input type="text" id="schedule-nexusPort" class="form-control" ng-model="$ctrl.data.nexusPort" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-1"></div>
                    <label for="schedule-nexusHttps" class="col-sm-3 control-label">Nexus HTTPS</label>
                    <div class="col-sm-6">
                        <input type="checkbox" ng-model="$ctrl.data.nexusHttps" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-1"></div>
                    <label for="schedule-nexusToken" class="col-sm-3 control-label">Nexus Token</label>
                    <div class="col-sm-6">
                        <input type="text" id="schedule-nexusToken" class="form-control" ng-model="$ctrl.data.nexusToken" />
                    </div>
                </div>
            </form>
        </uib-tab>
        <uib-tab index="3" heading="Data Source Settings">
            <form class="form-horizontal" role="form" style="margin-top: 20px;">
                <div class="form-group">
                    <div class="col-sm-1"></div>
                    <label for="schedule-dataSourceHost" class="col-sm-3 control-label">Data Source Host</label>
                    <div class="col-sm-6">
                        <input type="text" id="schedule-dataSourceHost" class="form-control" ng-model="$ctrl.data.dataSourceHost" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-1"></div>
                    <label for="schedule-dataSourcePort" class="col-sm-3 control-label">Data Source Port</label>
                    <div class="col-sm-6">
                        <input type="text" id="schedule-dataSourcePort" class="form-control" ng-model="$ctrl.data.dataSourcePort" />
                    </div>                    <div class="col-sm-1"></div>
                </div>
            </form>
        </uib-tab>
    </uib-tabset>
    
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">Save</button>
    <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
</div>