<div class="modal-header">
    <h3 class="modal-title" id="modal-title">{{ $ctrl.schedule.name }}</h3>
</div>
<div class="modal-body" id="modal-body">
    <h4>Groups</h4>
    <div class="tableSection">
        <table id="group-regulated-table" class="table">
            <thead id="group-regulated-table-head">
                <tr>
                    <th id="th1-schedule" class="">Group</th>
                    <th id="th2-schedule" class="">Regulated</th>
                </tr>
            </thead>
        
            <tbody id="group-regulated-table-body">
                <tr ng-repeat="group in $ctrl.groups">
                    <td>{{ group.group.name }}</td>
                    <td>
                        <div style="color: lime" ng-if="group.regulated">✔︎</div>
                        <div style="color: red" ng-if="!group.regulated ">✖︎</div>
                    </td>
                </tr>
            </tbody>

            <tfoot id="group-regulated-table-foot">
            </tfoot>
        </table>
    </div>
    <h4>Users</h4>
    <div class="tableSection">
        <table id="user-regulated-table" class="table">
            <thead id="user-regulated-table-head">
                <tr>
                    <th id="th1-schedule" class="">User Name</th>
                    <th id="th1-schedule" class="">User Login</th>
                    <th id="th2-schedule" class="">Regulated</th>
                </tr>
            </thead>
        
            <tbody id="user-regulated-table-body">
                <tr ng-repeat="user in $ctrl.users">
                    <td>{{ user.user.name }}</td>
                    <td>{{ user.user.identifier }}</td>
                    <td>
                        <div style="color: lime" ng-if="user.regulated">✔︎</div>
                        <div style="color: red" ng-if="!user.regulated ">✖︎</div>
                    </td>
                </tr>
            </tbody>

            <tfoot id="user-regulated-table-foot">
            </tfoot>
        </table>
    </div>
</div>
<div class="modal-footer">
    <!--<button class="btn btn-primary" type="button" ng-click="$ctrl.ok('user')" ng-disabled="$ctrl.selected.group && !$ctrl.selected.user || !$ctrl.selected.group && !$ctrl.selected.user">Add User</button>-->
    <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
</div>
</div>