<html lang="en" ng-app="rfbApp">
  
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <title>AudioBridge Api TestTool</title>
    <link rel="stylesheet" href="/styles/bootstrap-theme.css">
    <link rel="stylesheet" href="/styles/bootstrap.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/style.css">
  </head>

  <body ng-controller="DashboardCtrl as bashboard">
    <div id="main" ng-include=" 'templates/dashboard.html' " class="container-fluid"></div>

    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/aangular.min.js"></script>
    <script src="/js/dependencies/angular-route.min.js"></script>
    <script src="/js/dependencies/Chart.bundle.min.js"></script>
    <script src="/js/dependencies/jquery-3.3.1.min.js"></script>
    <script src="/js/dependencies/ui-bootstrap-2.5.0.min.js"></script>
    <script src="/js/dependencies/underscore-min.js"></script>
    <script src="/js/app/app.js"></script>
    <script src="/js/app/controllers/DashboardCtrl.js"></script>
    <script src="/js/app/services/ScheduleService.js"></script>
    <script src="/js/cc-charts.js"></script>
    <script src="/js/cc-scheduler.js"></script>

  </body>
</html>